<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3"><%= @header %>:
    <small><%= @subheader %></small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Home', root_path %>
    </li>
    <li class="breadcrumb-item active"><%= @subheader %></li>
  </ol>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <%= link_to image_tag(item.main_image, :class => "card-img-top"), controller: "main", action: "detail", item_id: item.id %>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to item.title, controller: "main", action: "detail", item_id: item.id %>
            </h4>
            <p class="card-text"><%= item.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <%= paginate @items %>
  </ul>

</div>
<!-- /.container -->
