<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
  <strong>Asin:</strong>
  <%= @item.asin %>
  </p>

  <p>
  <strong>Title:</strong></br>
  <%= link_to @item.title, @item.amazon_url  %>
  </p>

  <p>
  <strong>Overwritten title:</strong></br>
  <%= @item.overwritten_title %>
  </p>

  <p>
  <strong>Description:</strong></br>
  <%= @item.description %>
  </p>

  <p>
  <strong>Price:</strong>
  <%= @item.price %>
  </p>

  <p>
  <strong>Brand:</strong>
  <%= @item.brand.name %>
  </p>

  <p>
  <strong>Group:</strong>
  <%= @item.group %>
  </p>

  <p>
  <strong>Main image:</strong>
  <% begin %>
    <%= image_tag @item.wrapped_image %>
  <% rescue => ex %>
    <%= image_tag default_image %>
  <% end %>
  </p>

  <p>
  <strong>Stocks:</strong>
  <%= @item.stocks %>
  </p>

  <p>
  <strong>Active:</strong>
  <%= @item.active %>
  </p>

  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', items_path %>
</div>
