<%= form_with(model: brand, local: true) do |form| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.text_field :name, id: :brand_name, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-lg btn-secondary btn-block" %>
  </div>
<% end %>
